<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<link rel="stylesheet" type="text/css" href="/static/maths/mathquill/mathquill.css">
<script src="/static/maths/mathquill/mathquill.min.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"], ["\\[","\\]"], ['$$','$$'] ],
      displayMath: [  ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<div ng-controller="FormController" class="row-fluid">
    <div class="col-md-4">
        <h3>Math editor</h3>
        <h4>Latex Editor</h4>
        <span class="mathquill-editable" id="latex-box"></span>
        <button ng-click="latex_changed()">Copy to field</button>
        <h4>Ascii Output</h4>
        <input ng-model="ascii_input">
        <p>{{ascii_input}}</p>
    </div>
    <div class="col-md-8">
        <h3>Questions</h3>
        <ul>
        <li ng-repeat="question in questions" class="question-content">
            <h4>{{question.id}}</h4>
            <p ng-repeat="part in question.parts track by $index">{{part}}</p>
            <h6>Answer</h6>
            <form ng-submit="checkAnswer(question.id)">
                <ul>
                    <li ng-repeat="answer in question.answers">
                        <span compile="answer.content | assignModel"></span>
                        {{ result[question.id][answer.id] }}
                    </li>
                    {{user_answers | json}}
                </ul>
                <button type="submit">Check</button>
            </form>
        </li>
    </ul>
    </div>
</div>
