<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    jax: ["input/TeX","output/HTML-CSS"],
    displayAlign: "left"
    });
</script>
<div class="row-fluid">
    <div class="col-md-4">
        <h3>Subject</h3>
        <table>
            <tr>
                <td><b>Subject</b></td>
                <td><select ng-model="search.subject" ng-options="subject.title for subject in subjects">
                        <option value="">All</option>
                    </select></td>
            </tr>
            <tr>
                <td><b>Topic</b></td>
                <td><select ng-model="search.topic"
                        ng-options="topic.title for topic in topics | filter:{subject: search.subject.id}:strict"
                        ng-change="topicChanged()"></select></td>
            </tr>
                <input ng-model="foo.subject"/>
                </table>
    </div>
    <div id="question-section" class="col-md-8">
        <div ng-repeat="question in questions">
            <div ng-include="'/static/maths/partials/question_view.html'"></div>
        </div>
    </div>
</div>
