<h1>Questions</h1>
<h3>Topic: {{topic.title}}</h3>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    jax: ["input/TeX","output/HTML-CSS"],
    displayAlign: "left"
    });
</script>
<div align="left">
    <ul>
        <li ng-repeat="question in questions" class="question-content">
            <p ng-repeat="part in question.parts track by $index">{{part}}</p>
        </li>
    </ul>
</div>
