<script type="text/ng-template" id="questionSavedAlert.html">
    <div class="modal-body">
        Saved
    </div>
</script>
<script type="text/ng-template" id="questionDeleteAlert.html">
    <div class="modal-body">
        Deleted
    </div>
</script>
<div class="container-fluid">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label>Question {{question.id}}</label>
            </div>
            <p class="form-group">
                <button class="btn btn-primary" ng-click="updateAllAnswers()">Save</button>
                <button class="btn btn-danger" ng-click="deleteQuestion()">Delete</button>
            </p>
            <div class="form-group">
                <label>Topic</label>
                <input value="{{question.topic}}" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Marks</label>
                <input value="{{question.marks}}" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea type="text" rows="10" class="form-control">{{question.content}}</textarea>
            </div>
        </form>

            <label>New figure</label>
            <div class="form-group">
                <div class="form-group">
                    <div class="btn btn-default" ngf-select ng-model="files" ngf-multiple="false">Select File</div>
                    <label>{{files[0].name}}</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="upload(files)">Upload</button>
                </div>
            </div>
        <div class="form-group" ng-repeat="figure in question.figures">
            <label><b>Figure ID: {{figure.id}}</b></label>
            <button ng-click="deleteFigure(figure)" class="btn btn-default">Remove</button>
            <img class="img-responsive" ng-src="/media/{{figure.path}}"/></br>
        </div>
    </div>
    <div class="col-md-8">
        <h5>Answer</h5>
        <button class="btn btn-default" ng-click="addAnswer()">Add part</button>
        <div ng-repeat="answer in answers">
            <div ng-include="'/static/maths/partials/answer_edit.html'"></div>
        </div>
    </div>
</div>
