<div class="container-fluid">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label>Question {{question.id}}</label>
            </div>
            <div class="form-group">
                <label>Topic</label>
                <input value="{{question.topic}}" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Marks</label>
                <input value="{{question.marks}}" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea type="text" rows="10" class="form-control">{{question.content}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="form-group btn btn-default">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <h5>Answer</h5>
        <button class="btn btn-default" ng-click="updateAllAnswers()">Save</button>
        <button class="btn btn-default" ng-click="addAnswer()">Add part</button>
        <div ng-repeat="answer in question.answers">
            <div ng-include="'/static/maths/partials/answer_edit.html'"></div>
        </div>
    </div>
</div>
