<div class="container-fluid">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label>Question {{question.id}}</label>
            </div>
            <div class="form-group">
                <label>Topic</label>
                <input value="{{question.topic}}" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Marks</label>
                <input value="{{question.marks}}" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea type="text" rows="10" class="form-control">{{question.content}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="form-group btn btn-default">Submit</button>
            </div>
        </form>

        {{question.figures}}
            <label>New figure</label>
            {{files}}
            <div class="form-group">
                <div class="button" ngf-select ng-model="files" ngf-multiple="false">Select File</div>
                <button ng-click="upload(files)"/>
            </div>
        <div ng-repeat="figure in question.figures">
            <b>Figure ID: {{figure.id}}</b>
            <img ng-src="/media/{{figure.path}}"/>
        </div>
    </div>
    <div class="col-md-8">
        <h5>Answer</h5>
        <button class="btn btn-default" ng-click="updateAllAnswers()">Save</button>
        <button class="btn btn-default" ng-click="addAnswer()">Add part</button>
        <div ng-repeat="answer in answers">
            <div ng-include="'/static/maths/partials/answer_edit.html'"></div>
        </div>
    </div>
</div>
