<div class="row-fluid">
    <h5>Level: {{level}}</h5>
    <div class="col-md-4" controller="TabCtrl"> 
        <tabset>
        <tab heading="Topic">
        <ul>
            <li ng-repeat="topic in topics ">
                <a ui-sref="browse.questions({topic: topic.id})">{{topic.id}} {{topic.title}}</a>
            </li>
        </ul>
        </tab>
        <tab heading="Paper">
        <ul>
            <li ng-repeat="paper in papers">
                <a>{{paper.id}}: {{paper.month}}/{{paper.year}}</a>
            </li>
        </ul>
        </tab>
        </tabset>
    </div>
    <div class="col-md-8" ui-view></div>
    </div>
</div>
