<!doctype html>
{% load staticfiles %}
<html ng-app="myApp">
    <head>
        <script src="{% static "maths/bower_components/angular/angular.js" %}"></script>
        <script src="{% static "maths/bower_components/ui-router/release/angular-ui-router.js" %}"></script>
        <script src="{% static "maths/js/app.js" %} "></script>
    </head>
    <body>
        <h1>
            Hello World!
        </h1>
        {% verbatim %}
        <div ui-view></div>
        <a ui-sref="state1">State 1</a>
        <a ui-sref="state2">State 2</a>
        {% endverbatim %}
    </body>
</html>
