<!doctype html>
{% load staticfiles %}
<html ng-app="maths">
    <head>
        {% include "maths/header.html" %}
        <base href="/maths/">
        <link rel="stylesheet" href="{% static "maths/bower_components/bootstrap/dist/css/bootstrap.css" %}">
        <link href="{% static 'maths/css/addon-css.css' %}" rel="stylesheet" type="text/css" media="screen" />

        <script src="{% static "maths/bower_components/jquery/dist/jquery.js" %}"></script>
        <script src="{% static "maths/bower_components/bootstrap/dist/js/bootstrap.js" %} "></script>
        <script src="{% static "maths/bower_components/angular/angular.js" %}"></script>
        <script src="{% static "maths/bower_components/ui-router/release/angular-ui-router.js" %}"></script>
        <script src="{% static "maths/js/maths.js" %}"></script>
        <script src="{% static "maths/js/maths.routes.js" %}"></script>
        <script src="{% static "maths/js/maths.config.js" %}"></script>
        <script src="{% static "maths/js/questions/questions.module.js" %}"></script>
        <script src="{% static "maths/js/questions/services/questions.service.js" %}"></script>
        <script src="{% static "maths/js/questions/controllers/questions.controller.js" %}"></script>
        <script src="{% static "maths/js/topics/topics.module.js" %}"></script>
        <script src="{% static "maths/js/topics/services/topics.service.js" %}"></script>
        <script src="{% static "maths/js/topics/controllers/topics.controller.js" %}"></script>
        <script src="{% static "maths/js/exercises/exercises.module.js" %}"></script>
        <script src="{% static "maths/js/exercises/controllers/exercises.controller.js" %}"></script>
        <script src="{% static "maths/js/exercises/controllers/forms.controller.js" %}"></script>
        <script src="{% static "maths/js/exercises/filters/exercises.filter.js" %}"></script>
        <script src="{% static "maths/js/exercises/directives/exercises.directive.js" %}"></script>
   </head>
    <body>
        <div class="container-fluid margin-top50 margin-bottom30">
            <h1>
                Hello World!
            </h1>
            {% verbatim %}
            <div ui-view></div>
            {% endverbatim %}
        </div>
    </body>
</html>
